

body {
    background-color: white;
    padding: 10px;
    font-family: 'MedievalSharp', Arial, Helvetica, sans-serif;
    color: #ddd;
    font-size: 20px;
    background: url("../images/rupeebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}




#bluec,
#greenc,
#yellowc,
#redc {
    display: block;
    max-width: 15%;
    float: left;
}

h3 {
    color: #ddd;
    font-weight: bold;
}

#linkSigh {
    display: none;
}